---
name: apply
on:
  push:
    branches: [main]
permissions: {}
env:
  TFACTION_IS_APPLY: "true"
jobs:
  setup:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    outputs:
      targets: ${{ steps.list-targets.outputs.targets }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@9ebf656952a20c45a5d66606f083ff34f58b8ce0 # v4.0.0
        with:
          aqua_version: v2.46.0
      - uses: suzuki-shunsuke/tfaction/list-targets@4562d910bbacecf384c8aeda25332284fcf05f38 # v1.20.1
        id: list-targets

  apply:
    uses: ./.github/workflows/wc-apply.yaml
    needs: setup
    if: join(fromJSON(needs.setup.outputs.targets), '') != ''
    with:
      targets: ${{ needs.setup.outputs.targets }}
    permissions:
      id-token: write
      contents: read
      pull-requests: write
