---
name: test
on: pull_request_target
concurrency:
  group: ${{ github.workflow }}--${{ github.head_ref }}
  cancel-in-progress: true
permissions: {}
jobs:
  setup:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      targets: ${{ steps.list-targets.outputs.targets }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false
      - uses: aquaproj/aqua-installer@e2d0136abcf70b7a2f93480c8c7bfed50a348d5c # v4.0.0
        with:
          aqua_version: v2.46.0
      - uses: suzuki-shunsuke/tfaction/list-targets@4562d910bbacecf384c8aeda25332284fcf05f38 # v1.20.1
        id: list-targets

  plan:
    uses: ./.github/workflows/wc-plan.yaml
    needs: setup
    if: join(fromJSON(needs.setup.outputs.targets), '') != ''
    with:
      targets: ${{ needs.setup.outputs.targets }}
      ref: ${{ github.event.pull_request.head.sha }}
    permissions:
      id-token: write
      contents: read
      pull-requests: write
